<div class="col-12 d-flex justify-content-center about" style="padding-top:3em;background: #eee">
    <div class="col-md-6">
        <h2>Why use FreeCodeCamp review?</h2>
        <p>There are million of resources available to learn to code.</p>
        <p>
            Save yourself some time and filter through the resources that FreeCodeCampers reviewed to figure out the best platforms for your optimum learning experience.</p>
        <h5>About</h5>
        <p>This project is a list of more than 1000 links mentioned in the freeCodeCamp social media, classified according to the purpose of the link (eg. tutorial? forum? etc.) and ranked according to their relevance to the subjects of the freeCodeCamp
            curriculum (currently <a href='https://beta.freecodecamp.com/en/map'>beta</a>). The project has been led by evaristoc (Github) with invaluable contributions from sandra-dudley (Github) and other Chingu/fCC students.</p>
        <p><b>This is a demo page</b>. Find more details about the project at the <a href='https://github.com/evaristoc/fCC_R3'>project repository</a>.</p>
    </div>
</div>