<div class="container-fluid text-left">
    <div class="col-md-12">
        <h1>{{platformdet.title}}</h1>
        <p>{{platformdet.description}}</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>{{platformdet.origurl}} links</h2>
            <h4>that might interest you about:</h4>
            <h4><b>{{selsubject.toUpperCase()}}</b></h4>
            <!--<ul>
            <li *ngFor=" let obj of elObj.search(Elquery, { 'fields': { 'suburls': { 'boost': 1 } } }).slice(5) "><a href="# "> {{obj.doc.suburls}} {{ obj.doc.docurl }}</a></li>
        </ul>-->
            {{t.value}}
            <ul *ngIf="elObj.search(Elquery, { 'fields': { 'suburls': { 'boost': 1 } } }).length > 0">
                <li *ngFor="let obj of elObj.search(Elquery, { 'fields': { 'suburls': { 'boost': 1 } } })" [value]="Elquery"><a href="# "> {{ obj.doc.docurl }}</a></li>
            </ul>
            <ul *ngIf="elObj.search(Elquery, { 'fields': { 'suburls': { 'boost': 1 } } }).length == 0">
                <li><b>Sorry... our algorithm found no specific relevant match for your subject selection</b></li>
            </ul>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="card card col-md-6 col-lg-4">

            <form>
                <div class="form-group">
                    <p><b><i>Want to filter by different subject?</i></b></p>
                    <select name="subjects" class="form-control" #t (change)="myMethodChangingQueryParams(t.value)">
                            <option *ngFor="let subj of subjectOptions" [value]="subj.subject">{{subj.subject}}</option>
        </select>
                </div>
            </form>
        </div>

        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Modal title</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
                <ul>
                    <li *ngFor="let link of toArray(elObj.documentStore.docs); let i = index"><a href="http://{{platformdet.origurl}}{{link.docurl}}">{{link.docurl}}</a></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
            </div>
        </ng-template>

        <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

        <hr>

        <!--<pre>{{closeResult}}</pre>-->
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>



    <div class="row">
        <div class="col-md-6">
            <h2>See other platforms in the same category</h2>
            <p>Here, a <b>carrousel</b> of other platforms of similar CATEGORY</p>

            <div class="carousel">
                <div class="container fill">
                    <ul class="slides">

                        <li class='item' *ngFor="let image of images" style="text-align:center;color:green;">
                            <h2>{{image.platform}}</h2>
                            <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
                            <!--<img src="{{image.url}}" alt="">-->
                            <p><i>{{image.description}}</i></p>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>People that mentioned this link also mentioned these ones...</h2>
            Here, a <b>carrousel</b> of a (random?) selection of platforms recommended by the people who mentioned this platform
        </div>
    </div>