<div class="col-md-8">
    <div class="jumbotron" style="background:#555555 !important; color:white">
        <div class="container-fluid text-left">
            <h1>{{platformdet.origurl?(platformdet.origurl|maxlengthdoc:50):('')}}</h1>
            <h2>{{platformdet.title?(platformdet.title|maxlengthdoc:50):('')}}</h2>
            <p>{{platformdet.description?(platformdet.description|maxlengthdoc:50):('')}}</p>
        </div>
    </div>
</div>

<div class="container-fluid text-left">
    <div class="row" style="margin-left:60px;">
        <div class="col-md-6">
            <!--<h3>Other {{platformdet.origurl}} links about</h3>--->
            <h4><b>{{selsubject.toUpperCase()}}</b></h4>
            <h3>links related to this site that might interest you</h3>
            <!--<ul>
            <li *ngFor=" let obj of elObj.search(Elquery, { 'fields': { 'suburls': { 'boost': 1 } } }).slice(5) "><a href="# "> {{obj.doc.suburls}} {{ obj.doc.docurl }}</a></li>
        </ul>-->
            <ul *ngIf="elObj.search(Elquery, { 'fields': { 'suburls': { 'boost': 1 } } }).length > 0">
                <li *ngFor="let obj of elObj.search(Elquery, { 'fields': { 'suburls': { 'boost': 1 } } }) | slice:0:10" [value]="Elquery"><a href="# "> {{ obj.doc.docurl }}</a></li>
            </ul>
            <ul *ngIf="elObj.search(Elquery, { 'fields': { 'suburls': { 'boost': 1 } } }).length == 0">
                <li><b>Sorry... our algorithm found no specific relevant match for your subject selection</b></li>
            </ul>
        </div>
    </div>
    <br>
    <br>
    <div class="row" style="margin-left:80px;margin-right:10px">
        <div class="card card col-md-6 col-lg-4">

            <form>
                <div class="form-group">
                    <p><b><i>Want to filter by different subject?</i></b></p>
                    <select name="subjects" class="form-control" #t (change)="myMethodChangingQueryParams(t.value)">
                            <option *ngFor="let subj of subjectOptions" [value]="subj.subject">{{subj.subject}}</option>
        </select>
                </div>
            </form>
        </div>

        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">{{platformdet.origurl}} links</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
            </div>
            <div class="modal-body">
                <ul>
                    <li *ngFor="let link of toArray(elObj.documentStore.docs); let i = index"><a href="http://{{platformdet.origurl}}{{link.docurl}}">{{link.docurl}}</a></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
            </div>
        </ng-template>

        <button class="btn btn-lg btn-outline-primary" (click)="open(content)">See all the links</button>

        <hr>

        <!--<pre>{{closeResult}}</pre>-->
    </div>
    <br>
    <br>
    <div class="row" style="margin-left:20px;margin-rigth:10px;">
        <div class="col-md-6">
            <h2>See other platforms in the same category</h2>
            <p>Here, a <b>carrousel</b> of other platforms of similar CATEGORY : {{platformdet.category}}</p>
            <ngbd-carousel-basic [selectedlinks]="similars"></ngbd-carousel-basic>
        </div>
    </div>
    <br>
    <br>
    <div class="row" style="margin-left:20px;margin-rigth:10px;">
        <div class="col-md-6">
            <h2>People that mentioned this link also mentioned these ones...</h2>
            <p>Here, a <b>carrousel</b> of a (random?) selection of platforms recommended by the people who mentioned this platform</p>
            <ngbd-carousel-basic [selectedlinks]="listofothers"></ngbd-carousel-basic>
        </div>
    </div>
    <br>
    <br>