<div class="col-md-8">
    <div class="jumbotron" style="background:#555555 !important; color:white">
        <div class="container-fluid text-left">
            <h1>{{platformdet.origurl}}</h1>
            <h2>{{platformdet.title}}</h2>
            <p>{{platformdet.description}}</p>
        </div>
    </div>
</div>

<div class="container-fluid text-left">
    <div class="row">
        <div class="col-md-6">
            <h3>Other {{platformdet.origurl}} links about</h3>
            <h4><b>{{selsubject.toUpperCase()}}</b></h4>
            <h3>that might interest you</h3>
            <!--<ul>
            <li *ngFor=" let obj of elObj.search(Elquery, { 'fields': { 'suburls': { 'boost': 1 } } }).slice(5) "><a href="# "> {{obj.doc.suburls}} {{ obj.doc.docurl }}</a></li>
        </ul>-->
            <ul *ngIf="elObj.search(Elquery, { 'fields': { 'suburls': { 'boost': 1 } } }).length > 0">
                <li *ngFor="let obj of elObj.search(Elquery, { 'fields': { 'suburls': { 'boost': 1 } } }) | slice:0:10" [value]="Elquery"><a href="# "> {{ obj.doc.docurl }}</a></li>
            </ul>
            <ul *ngIf="elObj.search(Elquery, { 'fields': { 'suburls': { 'boost': 1 } } }).length == 0">
                <li><b>Sorry... our algorithm found no specific relevant match for your subject selection</b></li>
            </ul>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="card card col-md-6 col-lg-4">

            <form>
                <div class="form-group">
                    <p><b><i>Want to filter by different subject?</i></b></p>
                    <select name="subjects" class="form-control" #t (change)="myMethodChangingQueryParams(t.value)">
                            <option *ngFor="let subj of subjectOptions" [value]="subj.subject">{{subj.subject}}</option>
        </select>
                </div>
            </form>
        </div>

        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">{{platformdet.origurl}} links</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
            </div>
            <div class="modal-body">
                <ul>
                    <li *ngFor="let link of toArray(elObj.documentStore.docs); let i = index"><a href="http://{{platformdet.origurl}}{{link.docurl}}">{{link.docurl}}</a></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
            </div>
        </ng-template>

        <button class="btn btn-lg btn-outline-primary" (click)="open(content)">See all the links</button>

        <hr>

        <!--<pre>{{closeResult}}</pre>-->
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>



    <div class="row">
        <div class="col-md-6">
            <h2>See other platforms in the same category</h2>
            <p>Here, a <b>carrousel</b> of other platforms of similar CATEGORY : {{platformdet.category}}</p>
            <div class="carousel">
                <div class="container fill">
                    <ul class="slides" style="width:500%;">

                        <li class='item' *ngFor="let similar of similars" style="text-align:center;color:green; margin-left:10px">
                            <div class="card">
                                <img class="card-img-top" src="..." alt="Card image cap">
                                <div class="card-block">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                            <!--<h2>{{similar}}</h2>
                            <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
                            <!--<img src="{{image.url}}" alt="">-->
                            <!--<p><i></i></p>-->
                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>People that mentioned this link also mentioned these ones...</h2>
            <p>Here, a <b>carrousel</b> of a (random?) selection of platforms recommended by the people who mentioned this platform</p>
            <div class="carousel">
                <div class="container fill">
                    <ul class="slides">

                        <li class='item' *ngFor="let other of listofothers" style="text-align:center;color:green;">
                            <h2>{{other}}</h2>
                            <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
                            <!--<img src="{{image.url}}" alt="">-->
                            <p><i></i></p>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </div>