/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel {
    overflow: hidden;
    width: 100%;
}

.cards {
    width: 20rem;
    height: 30rem;
}


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    z-index: 10;
}

.slides {
    list-style: none;
    position: relative;
    /* width: 500%;
    Number of panes * 100% */
    overflow: hidden;
    /* Clear floats */
    /* Slide effect Animations*/
    -moz-animation: carousel 30s infinite;
    -webkit-animation: carousel 30s infinite;
    animation: carousel 30s infinite;
}

.slides>li {
    position: relative;
    float: left;
    /* width: 20%;
    100 / number of panes */
}


/* Declare heights because of positioning of img element */

.carousel .item {
    background-color: #777;
}

.carousel>.item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 35rem;
    /*500px before*/
}

.carousel h2 {
    /*margin-bottom: 0;*/
    font-size: 2em;
    right: 0px;
    bottom: 0px;
    left: 0px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
}

.carousel p {
    /*margin-bottom: 0;*/
    font-size: 1em;
    right: 0px;
    bottom: 0px;
    left: 0px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.75);
}

@keyframes carousel {
    0% {
        left: -5%;
    }
    11% {
        left: -5%;
    }
    12.5% {
        left: -105%;
    }
    23.5% {
        left: -105%;
    }
    25% {
        left: -205%;
    }
    36% {
        left: -205%;
    }
    37.5% {
        left: -305%;
    }
    48.5% {
        left: -305%;
    }
    50% {
        left: -405%;
    }
    61% {
        left: -405%;
    }
    62.5% {
        left: -305%;
    }
    73.5% {
        left: -305%;
    }
    75% {
        left: -205%;
    }
    86% {
        left: -205%;
    }
    87.5% {
        left: -105%;
    }
    98.5% {
        left: -105%;
    }
    100% {
        left: -5%;
    }
}