<div class="row text-center">
    <div class="col-12">

            <label>Category: </label>
            <ss-multiselect-dropdown 
            [options]="categoryOptions" 
            [texts]="categoryTexts" 
            [settings]="categorySettings" 
            [(ngModel)]="categoryModel"
            (ngModelChange)="onChangeCategory($event)">
            </ss-multiselect-dropdown>


            <label>Subject: </label>
           <ss-multiselect-dropdown 
            [options]="subjectOptions" 
            [texts]="subjectTexts" 
            [settings]="subjectSettings" 
            [(ngModel)]="subjectModel"
            (ngModelChange)="onChangeSubject($event)">>
            </ss-multiselect-dropdown>

            <button type="submit" class="btn btn-primary">Submit</button>

<!--
<h3>Platforms</h3>
<ul>
    <li class="text" *ngFor="let platform of platforms | async">
        {{platform}}
    </li>
</ul>
-->
    </div>
</div>