<div class="row text-center">
    <div class="col-12">
        <div class="row">

            <div class="col-6">
                <h3>Categories (names of the classes)</h3>
                <div class="form-check" *ngFor="let category of categories">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" >
                    {{category}}
                  </label>
                </div>
            </div>
            <div class="col-6">
               <h3>Subjects (names and data over cv subjects)</h3>
               <div class="form-check" *ngFor="let subject of subjects">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" >
                    {{subject[1]}}
                  </label>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </div>


<!--
<h3>Platforms</h3>
<ul>
    <li class="text" *ngFor="let platform of platforms | async">
        {{platform}}
    </li>
</ul>
-->
</div>
</div>